* {box-sizing: border-box;
	
}

body{
	background-color: blue;
	margin: 0;
	padding: 0;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cover {
	padding: 10px;
	max-width: 960px;
	width: 90%;
	margin 25px
}

h1 {
	text-align: center;
	font: 20px;
	padding: 0 25px;
}

h2 {
	text-align: right;
}
.container {
	color: orange;
	color: solid black;
	width: 95%;
	padding: px;
	margin: 5px;

}

.box {
	color: red;
	margin: 2px;
	padding: 10px;
	background-color: pink;
	float: right;
	border: 2px solid black;
	width: 300px;

}

@media (min-width: 992px) {
	.container .box {
		margin-bottom:5px;
		flex-basis: 40%;
	}

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width:767px) {

}