body{
	background-color: blue;
	margin: 0;
	padding: 0;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cover {
	padding: 10px;
	max-width: 960px;
	width: 90%;
	margin 25px
}

h1 {
	text-align: center;
	font: 20px;
	padding: 0 25px;
}

.container {
	background-color: orange;
	color: #000;
	width: 95%;
	padding: 0;
	margin: 5px;

}

.box {
	color: red;
	border: 3px white;
	margin: 2px;
	padding: 10px;
	background-color: pink;
	float: right;

}